body{
    background-color: #2c252c;
}

.card{
    height: 400px;
    width: 300px;
    border: 1px solid rgb(75, 58, 58);
    margin: auto;
    margin-top: 10%;
    background : linear-gradient(rgb(127, 193, 219),rgb(247, 145, 247));
    border-radius: 50px;
    font-family: 'Dosis';
}
.search input{
   width: fit-content;
   height: 25px;
  
   text-align: center;
   margin-left: 15%;
   border:none;
   outline: none;
   border-radius: 25px;
   
}
.search{
    margin-top: 5%;
    align-items: center;
    
}
#srchBTN{
    border: none;
    outline: none;
    padding: 4px ;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    left: 10px;
    top: 1px;
}
#SearchIcon{
   height: 15px;
}

.weather{
    text-align: center;
    color: #2c2526;
}
.weatherIcon{
    margin-top: 10%;
    height: 100px;
   
}

.weather h1{
    font-weight: 500;
}
.weather h2{
    font-weight: 200;
}